# Bibliothèques pour les appels API (Sportmonks & Telegram)
requests>=2.31.0

# Pour charger les variables d'environnement en local (.env)
python-dotenv>=1.0.0

# Pour la gestion des fichiers de configuration YAML
PyYAML>=6.0.1
